/* Main Section */

#main-section .news-first-line {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
#main-section .news-first-line .editors-pick .editors-pick-title,
#main-section .news-first-line .trending .trending-title {
  margin-bottom: 30px;
  font-size: 20px;
  border-bottom: 1px solid #222;
  font-weight: 400;
  width: fit-content;
}
/* Editors Pick Left */
.editors-pick-left h2 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 10px;
}
.editors-pick-left p:nth-child(3) {
  color: gray;
  margin-bottom: 1rem;
  line-height: 1.2;
}
.editors-pick-left p:nth-child(5) {
  color: gray;
  font-size: 12px;
  margin-top: 10px;
}
/* Editors Pick Right */
.editors-pick-right .right-item {
  display: flex;
  margin-bottom: 20px;
}
.editors-pick-right .right-item:first-child {
  background-color: #f8f9fa;
}
.editors-pick-right .right-item .item-image {
  width: 30%;
}
.editors-pick-right .right-item .item-description {
  width: 70%;
  padding: 10px 20px;
}
.editors-pick-right .right-item .item-description h2 {
  font-size: 15px;
  margin-bottom: 10px;
}
.editors-pick-right .right-item .item-description p:nth-child(2) {
  margin-bottom: 10px;
  font-size: 14px;
}
.editors-pick-right .right-item .item-description p:nth-child(3) {
  font-size: 10px;
  color: #b4b4b4;
}

.trending .trending-menu .menu {
  display: flex;
  margin-bottom: 30px;
}
.trending .trending-menu .menu .number {
  font-size: 30px;
  color: #ccc;
  line-height: 1;
  flex: 0 0 50px;
}
.trending .trending-menu .menu .info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.trending .trending-menu .menu .info .info-title {
  font-weight: 600;
}
.trending .trending-menu .menu .info .info-author {
  font-size: 14px;
}
.trending .trending-menu .menu .info .info-time {
  color: #b4b4b4;
  font-size: 12px;
}
.trending .trending-menu a {
  color: #8bc34a;
  text-transform: uppercase;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.trending .trending-menu a:hover {
  color: #649130;
  transition: 500ms ease-in-out;
  text-decoration: none;
}

/* News Card */
.news-card {
  margin-top: 70px;
  background-color: #f8f9fa;
}
.news-card .card-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news-card .card-right {
  padding: 50px;
}
.news-card .card-right .card-title {
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: gray;
}
.news-card .card-right .card-news-title {
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 10px;
}

.news-card .card-right .card-news-description {
  color: gray;
  line-height: 1.5;
  margin-bottom: 16px;
}

.news-card .card-right .card-news-author {
  font-size: 14px;
  margin-bottom: 10px;
}
.news-card .card-right .card-news-time {
  color: gray;
  font-size: 14px;
}
