/* Header Section */

#header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header-section .header-logo a {
  text-decoration: none;
  font-size: 2rem;
  color: #000;
  cursor: pointer;
}

#header-section .header-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}
#header-section .header-menu form {
  display: flex;
}
#header-section .header-menu svg {
  font-size: 14px;
  cursor: pointer;
}
#header-section .header-menu svg:nth-child(0),
#header-section .header-menu svg:nth-child(1),
#header-section .header-menu svg:nth-child(2) {
  margin-right: 16px;
}
#header-section .header-menu input {
  border: none;
  border-radius: 999px;
  border-bottom: 1px solid #ccc;
  padding: 0 20px;
  display: flex;
  align-items: center;
  font-size: 1rem;
  height: 50px;
  width: 200px;
  color: #495057;
  font-family: Cabin, sans-serif;
}
#header-section .header-menu input:focus {
  outline: none;
}
/* #header-section .header-menu button {
  display: flex;
  align-items: center;
  justify-content: center;
} */
#header-section .header-menu svg:last-child {
  background-color: #000;
  color: #fff;
  padding: 16px 18px;
  border-radius: 22px;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
}
#header-section .header-menu button {
  border: none;
  background-color: #fff;
}
#header-section .header-menu button:focus {
  outline: none;
}
#header-section .header-logo a:hover {
  color: #8bc34a;
  transition: 500ms ease;
}
#header-section .header-menu svg:last-child:hover {
  background-color: #8bc34a;
  transition: 500ms ease;
}
#header-section .header-menu svg:nth-child(1):hover,
#header-section .header-menu svg:nth-child(2):hover,
#header-section .header-menu svg:nth-child(3):hover {
  color: gray;
  transition: 500ms ease;
}

/* Navbar Section */
@import url("https://fonts.googleapis.com/css2?family=B612+Mono&display=swap");
#navbar-section {
  display: flex;
  width: 100%;
  gap: 40px;
  background-color: #fff;
  z-index: 10;
  border-bottom: 1px solid #efefef;
}
.active-header {
  color: #8bc34a;
  font-weight: 700;
  border-bottom: 1px solid #333;
}
.head-link {
  color: #000;
}

#navbar-section a {
  text-transform: uppercase;
  text-decoration: none;
  font-family: "B612 Mono", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  margin-right: 40px;
  letter-spacing: 0.05rem;
}
#navbar-section a:hover {
  color: #000;
  font-weight: 700;
}
