.carousel-control-prev-icon {
  background-image: url("../../assets/arrow-left-solid.svg");
}
.carousel-control-next-icon {
  background-image: url("../../assets/arrow-right-solid.svg");
}
.carousel-inner {
  margin-top: -100px;
  margin-bottom: 0;
  height: 600px;
  z-index: -1;
}

.carousel-indicators li {
  background-color: gray;
}
.carousel-indicators .active {
  background-color: #8bc34a;
}
@media screen and (max-width: 768px) {
  .carousel-indicators {
    z-index: 0;
  }
}
