/* Footer Section */

#footer-section {
  background-color: #f8f9fa !important;
  padding: 7em;
}
#footer-section .footer-title {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

#footer-section .footer-description {
  color: gray;
  line-height: 1.5;
}
#footer-section .container .row {
  display: flex;
  align-items: center;
}
#footer-section .left {
  display: flex;
  gap: 30px;
}
#footer-section input {
  width: 100%;
  margin-right: 10px;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
  border: none;
  background: #fff;
  border-bottom: 1px solid transparent;
  border-bottom: 1px solid #ccc;
}
#footer-section button {
  border-radius: 30px;
  background: #000;
  padding-left: 20px;
  padding-right: 20px;
  border-color: #000;
}
#footer-section button svg {
  color: #fff;
}
